# Configuration de l'API
# Pour le développement local
VITE_API_BASE_URL=http://127.0.0.1:8000

# Pour la production (décommentez la ligne ci-dessous et commentez la ligne ci-dessus)
# VITE_API_BASE_URL=https://calmnesstrading.onrender.com
